.silver {
	background-color: #bdc3c7;
	color: black;
}
.sun-flower {
				background-color: #ffc312;
				color: rgba(255, 255, 255, .9);
}
.alizarin {
	background-color: #e74c3c; 
}
.orange {
	background-color: #f39c12; 
}
.turquoise {
	background-color: #1abc9c; 
}
.white-opaque-text {
				color: rgba(255, 255, 255, .6);
}

