<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
				<head>
								{% include head.html %}
				</head>
				<body>
								{{content}}

								 <footer class="centered-text">
												 <div class="container">
												 <small>{{site.data.general.footer.crafted_by | markdownify}}</small>
												 <small class="grayed-text">
																 {{site.data.general.footer.copyright | markdownify}}</small>
												 </div>
								</footer>
				</body>
</html>
