<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
				<head>
								{% include head.html %}
				</head>
				<body>
								{{content}}

							 <footer class="centered-text">
												 <div class="container">
												 <small>{{site.data.general.footer.crafted_by | markdownify}}</small>
												 <p></p>
												 <small class="grayed-text padding-02"> • </small>
												 {% for ii in site.data.general['5pani2pesci'].social %}
												 <a class="no-decoration" href="{{ii.url}}">
												 <small class="grayed-text padding-02">
																 {{ii.name}} • </small>
												 </a>
												 {% endfor %}
												 <small class="grayed-text">
																 {{site.data.general.footer.copyright | markdownify}}</small>
												 </div>
								</footer>
				</body>
</html>
