---
layout: default
---
<header>
				<div class="sun-flower top-header">
								<img class="tiny-logo" src="{{site.baseurl}}/images/5pani2pesci.png">
								<div class="container">
								<h1><img src="{{site.baseurl}}/images/21cromosomi-logo-big.png" alt="21 Cromosomi"></h1>
								<h2 class="h3-size white-opaque-text">{{page.subtitle}}</h2>
								{{content}}
								</div>
				</div>
</header>

<div class="container">
				<div class="centered-text">
								<h3 class="h2-size">Ultimi articoli</h3>
				</div>
				<div class="list-dates">
								{% for post in site.posts %}
								<div class="el-dates">
												<a href="{{site.baseurl}}{{post.url}}">
																<span class="days">{{ post.days }}</span>
																<span class="sep">&bull;</span>
																<span class="location">{{ post.location }}</span>
												</a>
								</div>

								{% endfor %}
				</div>
</div>
