---
layout: default
---
<header>
				<div class="sun-flower top-header">
								<div class="container">
								<a href="https://5p2p.it">
												<img class="tiny-logo" src="{{site.baseurl}}{{site.data.general.logo['5pani2pesci']}}" alt="5pani2pesci">
								</a>
								<p></p>
								<p></p>
								<p></p>
												<h1><img src="{{site.baseurl}}{{site.data.general.logo.big}}" alt="{{site.title}}"></h1>
								<h2 class="h3-size white-opaque-text">
												{{site.data.general.index.subtitle | markdownify}}</h2>
								{{site.data.general.index.content | markdownify}}
				<p></p>
								<div class="">
												{% for ii in site.data.general.navigation %}
												<a class="no-decoration" href="{{site.baseurl}}{{ii.url}}">
																<div class="h5-size opacity-6 padding-02">
																				<span class="span-25px">
																								<i class="fas fa-{{ii.icon}}"></i></span>
																				<strong>&nbsp; {{ii.name}}</strong></div></a>
												{% endfor %}
								</div>
								</div>
				</div>
</header>

<p></p>
<div class="container">
				<div class="centered-text">
								<h3 class="h2-size">Ultimi articoli</h3>
				</div>

				<div class="list-dates">
								{% for post in site.posts limit: 5 %}
								<div class="el-dates margin-0-auto">
												<a class="no-decoration" href="{{site.baseurl}}{{post.url}}">
												<div class="flex">
																<div class="width-40 right-text">
																				{{ post.date | date: "%d.%m" }} &nbsp; • &nbsp;</div>
																<strong class="text-left h4-size width-60">
																				{{post.title}}</strong>
												</div>
												</a>
								</div>

								{% endfor %}
				</div>


</div>
<p></p>
<p></p>
<p></p>
<p></p>
<a class="no-decoration" href="/">
<div class="margin-0-auto sun-flower rounded-logo">
				<div class="helper"></div>
				<img src="{{site.data.general.logo.big}}" alt="Cromosoma21"> 
</div>
</a>
