---
layout: default
---
<header>
				<div class="sun-flower top-header">
								<a href="https://5p2p.it">
												<img class="tiny-logo" src="{{site.baseurl}}{{site.data.general.logo['5pani2pesci']}}" alt="5pani2pesci">
								</a>
								<p></p>
								<p></p>
								<p></p>
								<div class="container">
												<h1><img src="{{site.baseurl}}{{site.data.general.logo.big}}" alt="{{site.title}}"></h1>
								<h2 class="h3-size white-opaque-text">
												{{site.data.general.index.subtitle | markdownify}}</h2>
								{{site.data.general.index.content | markdownify}}
								</div>
				</div>
</header>

<div class="container">
				<div class="centered-text">
								<h2>Ultimi articoli</h2>
				</div>
				<div class="list-dates">
								{% for post in site.posts %}
								<div class="el-dates centered-text">
												<a class="no-decoration" href="{{site.baseurl}}{{post.url}}">
																<span>{{ post.date | date: "%d.%m.%y" }}</span>
																&nbsp; • &nbsp;
																<h3 class="inline-text">{{ post.title }}</h3>
												</a>
								</div>

								{% endfor %}
				</div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
